@import "tailwindcss";

*{
  font-family: Outfit
}


/* Light Theme (default) */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --nav-bg: #ffffff;
  --border-color: #e5e7eb;

  --hover-bg: #fcf4ff;
  --button-bg: #111111;
  --button-text: #ffffff;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #0f172a;
  --text-color: #e5e7eb;
  --nav-bg: #020617;
  --border-color: #334155;

  --hover-bg: #1e293b;
  --button-bg: #e5e7eb;
  --button-text: #020617;
}

/* ---------- GLOBAL STYLES ---------- */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: system-ui, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-backdrop::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  backdrop-filter: blur(12px);
  z-index: -1;
}